
@{
    ViewData["Title"] = "About";
}
<div class="text-decoration-underline">
	<h1 class="display-1">Title</h1>
</div

<p>Application for Assignment 2 that explores basic web design. This webiste was created by Jovani Benavides.</p>

